{% extends 'base.html.twig' %}
{% block body %}
  <h1>Creation d'un article</h1>
  {% form_theme form 'bootstrap_4_layout.html.twig' %}
  {{form_start(form) }}
  {{form_row(form.name, { 'attr': { 'placeholder': 'name' } })}}
  {{form_row(form.description, { 'attr': { 'placeholder': 'description' }}) }}
  {{form_row(form.imageURL, { 'attr': { 'placeholder': 'image' }})}}
  <button type="submit">
    {% if isEditMode %}
      Edit article
    {% else %}
      Create new article
    {% endif %}
  </button>
  {{ form_end(form) }}
{% endblock %}
